<header>
    <div class ="row">
        <div class="col" style="margin-bottom: 100px;">
            <h1>Tiny App</h1>
            <a href="/urls/new">Create New Tiny URL</a>
        </div>
        <div class="col">
            <form method="post" action="/login">
            <input class="form-control" type="text" name="username" placeholder="Username">
            <button style="margin-top:5px; float: right; font-size: 12px" type="submit" class="btn btn-primary">LOGIN</button>
        </div>
            </form>
        </div>
    </div>
</header>