<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
    
<header>

    <!-- If Logged In -->
    <% if (email) {%>
        <div class ="row">
                <div class="col" style="margin-bottom: 100px;">
                    <h1>Tiny App</h1>
                    <a href="/urls/new">Create New Tiny URL</a>
                </div>
                <div class="col" style="display: block">
                    <% if (email) {%>
                    <form method="post" action="/logout">
                        <p>You are logged in as <%= email.email %>
                        <button type="Submit" class="btn btn-primary"> Logout </button>
                        </p>
                    </form>
                </div>
            </div>
    <% } %>
    <!-- If Logged Out -->
    <% } else { %>
        <div class ="row">
            <div class="col" style="margin-bottom: 100px;">
                <h1>Tiny App</h1>
            </div>
            <div class="col">

            </div>
            <div class ="col">

            </div>
            <div class="col">
                <a href="/login"><button style="margin-top: 10px" type="Submit" class="btn btn-primary"> Login </button></a>
                <a href="/register"><button style="margin-top: 10px" type="Submit" class="btn btn-outline-primary"> Register </button></a>
            </div>
            </div>
            <% } %>

</header>