<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
<% include partials/_header.ejs %>
    <!-- Add EJS code here -->
    <h3>ShortURL: <a target="_blank" href="<%= longURL %>"><%= shortURL %></a> </h3>    
    
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" name="longURL" placeholder="<%= longURL %>">
            </div>
            <div class="col">
                <form method="POST" action="/urls/<%= shortURL %>/update"> <button type="submit" class="btn btn-primary">Update</button> </form>
            </div>
        </div>
    
    <br>
    <p>
        <a href="/urls">Go Home</a>
    </p>
        
</body>
</html>