<% include partials/_header.ejs %>   
    <center>
    <div class="col" style="width: 50%; margin-left: auto; margin-right: auto;">
            <h3> Oops! The Page You're Looking For Was Not Found!</h3>
            <br>
        <p>Go Big, or <a href="/urls">Go Home</a>
    </div>
    </center>    
</body>
</html>