<% include partials/_header.ejs %>
    <% if (userID === cookie) { %>
    <h3>ShortURL: <a target="_blank" href="<%= urls[shortURL].longURL %>"><%= shortURL %></a> </h3>    
    
    <form method="POST" action="/urls/<%= shortURL %>/update">
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" name="longURL" placeholder="<%= urls[shortURL].longURL %>">
            </div>
            <div class="col">
                 <button type="submit" class="btn btn-primary">Update</button> 
            </div>
        </div>
    </form>
    <br>
    <p>
        <a href="/urls">Go Home</a>
    </p>
<% } else {%>

<center>
        <div class="col" style="width: 50%; margin-left: auto; margin-right: auto;">
                <h3> You don't have access to this page. </h3>
                <br>
            <p>Go Big & <a href="/urls">Go Home</a> or <a href="/urls/new">Create Your Own Short URL </a>
        </div>
    </center>    
<% } %>
</body>
</html>