<% include partials/_header %>
<!-- Can only create short URL if they are logged in -->
  <% if (email) {%>
    <h3>Create TinyURL</h3>
   
    <form class="form-inline" action="/urls" method="POST">
      <div class="form-group mb-2">
        <label for="longURL">Enter a URL:</label>
        <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
   
    <br>
   
    <p>
        <a href="/urls">Go Home</a>
    </p>
  <!-- If they are not logged in -->
  <% } else { %>
    <center>
      <div class="col" style="width: 50%; margin-left: auto; margin-right: auto;">
        <h3> You don't have access to this page. Please <a href="/login">Login</a> or <a href="/register">Register</a>. </h3>
        
        <br>
        
        <p>Go Big & <a href="/urls">Go Home</a>
      
      </div>
    </center>    
  <% } %>
  

  </body>
</html>