<% include partials/_header.ejs %>
    <!-- Add EJS code here -->    
    <div class="col" style="width: 50%; margin-left: auto; margin-right: auto;">
            <h3> Welcome! Login here:</h3>
    <center>
    <form method="POST" action="/login">
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Enter email">
            </div>
            
            <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            
            <form method="POST" action="/login"><button type="submit" class="btn btn-primary">Login</button></form>
    </form>
    <br>
    <p>
        <a href="/urls">Go Home</a>
    </p>
    </center>

</div>
        
</body>
</html>