<% include partials/_header.ejs %> 
    <center>
    <div class="col" style="width: 50%; margin-left: auto; margin-right: auto;">
            <h3> Oops! Please submit a valid email and password to register, thank you!</h3>
            <br>
        <p>Go Big, or <a href="/urls">Go Home</a>
        <p>Or, <a href="/register">Go Back</a>
    </div>
    </center>    
</body>
</html>