<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
<% include partials/_header.ejs %>
<% if (urls[shortURL].userID === email) { %>
    <!-- Add EJS code here -->
    <h3>ShortURL: <a target="_blank" href="<%= urls[shortURL].longURL %>"><%= shortURL %></a> </h3>    
    
    <form method="POST" action="/urls/<%= shortURL %>/update">
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" name="longURL" placeholder="<%= urls[shortURL].longURL %>">
            </div>
            <div class="col">
                 <button type="submit" class="btn btn-primary">Update</button> 
            </div>
        </div>
    </form>
    <br>
    <p>
        <a href="/urls">Go Home</a>
    </p>
<% } else {%>

<center>
        <div class="col" style="width: 50%; margin-left: auto; margin-right: auto;">
                <h3> You don't have access to this page. </h3>
                <br>
            <p>Go Big & <a href="/urls">Go Home</a>
        </div>
    </center>    
<% } %>
</body>
</html>